# Removing default themes and plugin files
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentytwo
wp-content/themes/index.php
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/index.php