.hoobGrid {
    display: grid;
    grid-gap: $padidng-sm;

    @media only screen and (min-width: $breakpoint-tablet) {
        grid-gap: $padding-lg;
    }

}

.hoobGrid-2--one,
.hoobGrid-2--two,
.hoobGrid-2--three,
.hoobGrid-3--one {

    &.hoobGrid {
        grid-template-columns: repeat(1, 1fr);
    }

}

.hoobGrid-2--one {

    &.hoobGrid {
        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.hoobGrid-2--two {

    &.hoobGrid {
        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: 2fr 1fr;
        }
    }

}

.hoobGrid-2--three {

    &.hoobGrid {
        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: 3fr 1fr;
        }
    }

}

.hoobGrid-3--one {

    &.hoobGrid {
        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (min-width: $breakpoint-desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

}

.hoobGrid-auto--three,
.hoobGrid-auto--four,
.hoobGrid-auto--five {

    &.hoobGrid {

        display: inline-grid;
        justify-items: center;
        align-items: center;

        grid-gap: $padidng-sm;
        grid-template-columns: minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);

    }

}

.hoobGrid-auto--three {

    &.hoobGrid {

        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: max-content max-content max-content;
        }

    }

}

.hoobGrid-auto--four {

    &.hoobGrid {

        @media only screen and (min-width: $breakpoint-tablet) {
            grid-template-columns: max-content max-content max-content max-content;
        }

    }

}

.hoobGrid-auto--five {

    @media only screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: max-content max-content max-content max-content max-content;
    }

}