.contentWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contentWidth--lg {

    &.contentWidth {
        max-width: var(--wp--style--global--wide-size);
    }
}

.contentWidth--md {

    &.contentWidth {
        max-width: var(--wp--style--global--content-size);
    }

}

.contentWidth--sm {

    &.contentWidth {
        max-width: 560px;
    }
}