@mixin dropShadow--base {
  -webkit-box-shadow: 10px 10px 0px 0px var(--wp--preset--color--primary-base);
  -moz-box-shadow: 10px 10px 0px 0px var(--wp--preset--color--primary-base);
  box-shadow: 10px 10px 0px 0px var(--wp--preset--color--primary-base);
}

@mixin dropShadow--black {
  -webkit-box-shadow: 10px 10px 0px 0px var(--wp--preset--color--black-100);
  -moz-box-shadow: 10px 10px 0px 0px var(--wp--preset--color--black-100);
  box-shadow: 10px 10px 0px 0px var(--wp--preset--color--black-100);
}
