.hoobCheckBox {

    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--wp--preset--font-size--body-large);
    font-size: var(--wp--preset--font-size--body-large);
    color: var(--wp--preset--color--black-100);

    &__checkbox {
        width: 23px;
        height: 23px;
        accent-color: var(--wp--preset--color--white-70);
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 0.1rem;
        margin: 0 $padidng-sm 0 0;
        border: 2px solid var(--wp--preset--color--white-70);
        border-radius: 3px;
    }

    &__checkbox:before {
        content: "";
        width: 12px;
        height: 12px;
        clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
        transform: scale(0);
        background-color: var(--wp--preset--color--white-100);
    }

    &__checkbox:checked::before {
        transform: scale(1);
        background-color: var(--wp--preset--color--black-60);
    }

    &__checkbox:hover {
        color: black;
    }

    &__total {
        color: var(--wp--preset--color--black-60);
    }

}

/* HTML-BUILDER
<div class="">
    <label class="hoobCheckBox">
        <input class="hoobCheckBox__checkbox" type="checkbox" checked="checked">
        One <span class="hoobCheckBox__total">(28)</span>
    </label>
</div>
*/