.hoobSelect {

    &__label {
        display: block;
        font-size: var(--wp--preset--font-size--body-medium);
        margin-bottom: $padidng-sm;
    }

    &__select {
        min-width: 127px;
        position: relative;
        padding: $padidng-sm $padding-md;
        font-size: var(--wp--preset--font-size--body-medium);
        color: var(--wp--preset--color--white-50);
        border-radius: 6px;
        border: 2px solid var(--wp--preset--color--black-30);
        appearance: none;
        background-color: var(--wp--preset--color--white-100);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#69696B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right $padding-md center;
        background-size: 1em;
    }

}

.hoobSelect--rounded {

    &.hoobSelect {

        display: flex;
        align-items: center;

        .hoobSelect {

            &__label {
                margin-bottom: 0;
                margin-right: $padidng-sm;
            }

            &__select {
                padding: $padidng-sm $padding-lg;
                border-radius: 30px;
                color: var(--wp--preset--color--black-100);
                background-color: var(--wp--preset--color--black-30);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");

                &:before {
                    content: "";
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 27px;
                    height: 100%;
                }

            }

            option {
                padding-left: $padidng-sm;
            }

        }

    }

}

.hoobSelect--full {

    &.hoobSelect {

        .hoobSelect {

            &__select {
                width: 100%;
            }

        }

    }
}

/* HTML-BUILDER

<label for="cars" class="hoobSelect hoobSelect--full">
    <span class="hoobSelect__label">Choose a min salary:</span>
    <select class="hoobSelect__select" name="minSalary">
        <option value="" disabled selected>$ min</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</label>
<br><br>
<label for="cars" class="hoobSelect hoobSelect--rounded">
    <span class="hoobSelect__label">Sort by:</span>
    <select name="minSalary" class="hoobSelect__select">
        <option value="" disabled selected>
            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 9.75L6.75 1.25V6.25H11.25L5.5 14.75V9.75H0.75Z" stroke="#FBFBFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>
            Newest
        </option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</label>

*/